

header{
   width: 100%;

   .container-fluid{
      background-color: rgba(11, 84, 9, 0.567);

         .navbar-brand{
            .logo1{
               width: 200px;
               height: 200px;
               border-radius: 50%;
               transition: 1.5s;
               &:hover{
                  scale: 90%;
               }
            }
         }


         .collapse .navbar-collapse{

            .navbar-nav{

               .nav-item{

                  &:hover{
                     background-color: rgba(6, 59, 4, 0.567);
                     border-radius: 20%;
                  }
                  .nav-link.active{
                     .cantidad{
                     background-color: black;
                  }
                  }
               }
            }
         }
   }   
}




